{% extends "base.html.twig" %}
{% block title %}My Page {% endblock %}
{% block body %}
    <div id="menu">
        <ul>
        <li class="personal_data">Rafał Malenta
        </li>
        </ul>
    </div>
{% endblock %}    
